[build]
  publish = "."

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = true
  conditions = {Role = ["authenticated"]}

[[redirects]]
  from = "/login"
  to = "/login.html"
  status = 200
